body {
  background-color: #090909
}

.not-cody-class {
  font-size: 275px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: blue;
}

.game-tile {
  width: 58px;
  height: 58px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2px;
}

.game-tile.good {
  background-color: #009933;
  color: #ffffff;
}

.game-tile.used {
  background-color: #ff9933;
  color: #090909;
}

.game-tile.unused {
  background-color: #4d4d4d;
  color: #090909;
}

.tile-row {
  display: flex;
}

.tile-container {
  align-items: center;
  display: flex;
  justify-content: center;
}